<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On

    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}/$1 [L,R=301]
    
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule ^(.+)$ index.php?Path=$1 [L,QSA]
</IfModule>

<Files Config.xml>
    Order Allow,Deny
    Deny from all
</Files>